<form action="{{ routes.search_url }}" method="get" class="search-form">
  <input type="search" name="q" placeholder="Search products..." class="search-input">
  <button type="submit" class="search-button">Search</button>
</form>
