{% section 'hero' %}
{% section 'featured-collection' %}
{% section 'scientific-leadership' %}
{% section 'faq' %}

<section class="cta">
  <div class="container">
    <h2>Trusted by our Clinical & Wellness Partners</h2>
    <div class="partners-grid">
      <div class="partner">WellnessPro</div>
      <div class="partner">FamilyClinic</div>
      <div class="partner">BioLab HK</div>
      <div class="partner">VitalityCenter</div>
    </div>
  </div>
</section>
